/* === ZÁKLAD === */
body {
    margin: 0;
    background: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* === OBAL HRY === */
#game-wrapper {
    position: relative;
    width: 675px;
    height: 750px;
    transform: scale(0.7);
    transform-origin: center;
}

/* === MAPA === */
#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 675px;
    height: 750px;
    background: #e600ffcf;
    z-index: 0;
}

/* === CANVAS === */
#game {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
}

#countdown {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 80px;
    color: #ff00ff;
    font-family: 'Arial';
    text-shadow: 0 0 20px #ff00ff;
    display: none;

}

/* === SCORE === */
#hud {
    position: absolute;
    top: -45px;
    left: 5px;
    color: #e600ff;
    font-size: 28px;
    font-family: "Courier New", monospace;

    text-shadow:
        0 0 5px #81238c,
        0 0 10px #9207a8,
        0 0 20px #5b0764;

    z-index: 10;
}



#hearts {
    position: absolute;
    top: 0;
    left: 0;
    width: 675px;
    height: 750px;
    pointer-events: none; /* Pacman může chodit přes to */
    font-size: 14px;
    z-index: 10;
}

.heart {
    position: absolute;
    transform: translate(-50%, -50%);
}


/* === GAME OVER === */
#gameover {
    position: absolute;
    inset: 0;
    display: none;

    justify-content: center;
    align-items: flex-start;

    padding-top: 200px;

    background: rgba(0, 0, 0, 0.8);
    color: #e711ff;
    font-size: 80px;
    font-family: Arial, sans-serif;
    z-index: 20;

    text-shadow:
        0 0 10px #9521a2,
        0 0 20px #000000,
        0 0 30px #020202,
        0 0 40px #e600ff;
}


/* MENU WRAPPER */
#menu {
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translate(-50%);
    display: none;
    flex-direction: column;
    gap: 22px;
    z-index: 50;
}

/* MENU BUTTON */
.menu-btn {
    width: 260px;
    padding: 14px 0;

    text-align: center;
    font-size: 24px;
    font-family: 'Orbitron', sans-serif;
    color: #BE03FD;

    border: 3px solid #BE03FD;
    border-radius: 12px;

    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(3px);

    box-shadow:
       0 0 10px #BE03FD,
       0 0 20px #BE03FD,
       0 0 30px #BE03FD;

    cursor: pointer;
    transition: 0.2s ease;
}

.menu-btn:hover {
    background: rgba(190, 3, 253, 0.25);
    transform: scale(1.07);
    box-shadow:
       0 0 20px #BE03FD,
       0 0 40px #BE03FD,
       0 0 60px #BE03FD;
}
